<h2>Have a question or suggestion to make the app better? Contact us!</h2>
<form class="contact-form">
    <input type="text" id="name" placeholder="Full Name"></br>
    <input type="text" id="email"> {{ user.email }}</br>
    <input type="text" id="subject" placeholder="subject"></br>
    <textarea id="message" placeholder="message" cols="40" rows="10"></textarea></br>
    <input type="submit" class="submit" value="Send Message">
</form>