<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="stylesheet" href='/hardcoded-html (temp)/loginstylesheet.css'>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Comment back in FIX overlapping issue-->
    <script src="indexscript.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Starby's Cup Corner</title>
</head>

<body>

    <header> 
        <a href ="#"> <img type='image' src="/public/images/logo.png" class="logo"> </a>
        <div class = "nav-group">
            <ul class = "navigation"> 
                <li> <a href = "#"> HOME </a></li>
                <li> <a href = "#"> ABOUT </a></li>
                <li> <a href = "#"> CONTACT </a></li>

                {{!-- {{#if !logged_in}}

                <li> <a href = "#"> LOGIN </a></li>
                {{ else }}
                <li> <a href = "#"> LOGOUT </a></li>
                {{/if}} --}}
            </ul>
            <div class = "search">
                <span class ="icon"> 
                    <ion-icon name="search-outline" class = "searchBtn"></ion-icon>
                    <ion-icon name="close-circle-outline" class = "closeBtn"></ion-icon>                
                </span>
            </div>
            <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
            <div class="searchBox">
                <input type="search" id= "search" placeholder="Find Your Dream Mug! ..." data-search>
            </div>
    </header>

    <div class = "mug-container" data-mug-cards-container></div>
    <template data-user-template>
        <div class="mug">
            <img src="https://imgs.search.brave.com/QIfbxrGs2D-p3_R1EfnfOuyz9rMgtqJs396WCx360c8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NjFBcld1bi1xdUwu/anBn"
                alt="image">
        
            <div class="mug-info">
                <h3 class="header" data-header></h3>
                <span class="price">$price</span>
            </div>
        
            <div class="mug-body">
                <a href="#" class="username"> Username </a>
                <p class="mug-desc" data-body></p>
            </div>
        </div>
    </template>

    <!-- icons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- buttons, navbar, header. -->
    <script type="javascript" src="/public/js/contact.js"</script>
    <script type="javascript" src="/public/js/app.js"></script>
    

</body>

</html>