<br>
<br>
<br>
<br>

<section class = "about-us">
        <div class="about-us-container">
            <img src = "/images/about-us.png">
            <div class ="about-us-text"> 
                <h1>About Us</h1>
                <h4>About the  <span>Starby's Cup Corner team!</span></h4>
                <p> We are a group of 4 learning to code! We created this site as our second project for the U of MN Coding Bootcamp!
                    This page was made by Yuta Kirihara, Alex Lara, Alex Strunk, and Gabriel Valasquez. Check us out on our respective github pages!
                </p>
                <div class="button-container">
                    <a href = "https://github.com/shinyuta">
                        <button type="button" class= "Github"><ion-icon name="logo-github"></ion-icon> Yuta K.</button>
                    </a>
                    <a href="https://github.com/PsychoRSS">
                        <button type="button" class= "Github"><ion-icon name="logo-github"></ion-icon> Alex L.</button>
                    </a>
                    <a href="https://github.com/astrunk87">
                    <button type="button" class= "Github"><ion-icon name="logo-github"></ion-icon> Alex S.</button>
                    </a>
                    <a href="https://github.com/Gabe-Velasquez">
                        <button type="button" class= "Github"><ion-icon name="logo-github"></ion-icon> Gabe V.</button>
                    </a>
                </div>
            </div>
        </div>
    </section>