<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="display: flex; justify-content: center; flex-direction: column; align-items: center">
<h2>Have a question or suggestion to make the app better? Contact us!</h2>
<form class="contact-form">
    <input type="text" id="name" placeholder="Name"></br>
    <input type="text" id="email"> {{ userData.email }} </br>
    <input type="text" id="subject" placeholder="subject"></br>
    <textarea id="message" placeholder="message" cols="40" rows="10"></textarea></br>
    <br>
    <br>
    <input type="submit" class="submit" value="Send Message">
</form>
</div>