{{!-- {{#if loggedIn}} --}}

 {{#if cups.length}}
  {{#each cups as |cup|}}
<section class="mug-cards">
  <img src="../public/images/{{Cup.filename}}" >
  <div class="mug-info">
    <h3>{{Cup.name}}</h3>
    
  </div>
</section>
{{/each}}
{{/if}}
{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}