{{!-- {{#if loggedIn}} --}}
{{!-- dont need this file anymore, i think --}}
 {{!-- {{#if cups.length}}
  {{#each cups as |cup|}} --}}
<section class="mug-cards">
    <div class="mug-img">
        <img src="/images/{{cup.filename}}"> 
        <div class="mug-info">
        <h3>{{cup.name}}</h3>
        <h3>{{cup.launch}}</h3>
        </div>
    </div>
</section>
{{!-- {{/each}}
{{/if}} --}}
{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}