
<div class = "center">
        <h1>Sign Up</h1>
        <form id:"signup-form"> 
            <div class="text-field">
                <input type="text" id:"first_name" required>
                <span></span>
                <label>First Name</label>
            </div>
            <div class="text-field">
                <input type="text" id:"last_name" required>
                <span></span>
                <label>Last Name</label>
            </div>
            <div class="text-field">
                <input type="text" id:"username" required>
                <span></span>
                <label>User Name</label>
            </div>
            <div class="text-field">
                <input type="password" id="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="terms-privacy-div">By clicking the Sign Up button you agree to our <a href='#' class = terms-privacy>Terms and Conditions</a>
            and <a href='#' class = terms-privacy>Privacy Policy</a>
            </div>
            <input type="submit" value="Sign Up" >
            <div class="signup">
                Already a Member? <a href ="#">Login</a>
            </div>
        </form>
    </div>

<script src="../public/js/userFroms.js"></script>