:root {
    --Main: black;
    --offwhite: #FAF9F6;
    --white: white;
    --light: rgb(189, 189, 189);
    --dark: #006241;
}

* {
    margin: 0, auto;
    padding: 0;
    background-color: var(--offwhite);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

main {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mug {
    width: 300px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0.2px 4px 5px black;
    background-color: var(--dark);
    color: var(--offwhite);
    position: relative;
    overflow: hidden;
}

.mug img {
    width: 100%;
}

.mug-info {
    color: var(--main);
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem 1rem;
    letter-spacing: .5px;
}

.mug-info h3 {
    margin-top: 0;
    font-weight: bold;
    background-color: var(--dark);
}

.mug-info span {
    background-color: var(--offwhite);
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    font-weight: bold;
}

.mug-info span.price {
    color: var(--Main);
}

.mug-body a{
    font-weight: bold;
    text-decoration: none;
    color: var(--main)
}

.mug-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    background: var(--offwhite);
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    border-radius: 8px;
}

.mug:hover .mug-body {
    transform: translateY(0%)
}

.search-wrap {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
}

.mug-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    justify-content: center;
}

.mug-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    justify-content: center;
}

.card > .mug-desc {
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
} 
